@import "tailwindcss";

.layout-content {
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  flex: 1;
}

/* Desktop styles */
@media (min-width: 768px) {
  .sidenav-open .layout-content {
    margin-left: 16rem;
  }

  .sidenav-closed .layout-content {
    margin-left: 4rem;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .sidenav-open .layout-content {
    margin-left: 0;
  }

  .sidenav-closed .layout-content {
    margin-left: 0;
  }
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

@media (max-width: 767px) {
  .dashboard-container {
    flex-direction: column;
  }
}

.container {
    background-color: var(--background);
}